<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">

    <meta name="description" content="">
    <title>Idem</title>

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet" href="css/menu.css">
    <link href="css/bootstrap.min.css" rel="stylesheet" >
    <link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet" >

    <link href="https://fonts.googleapis.com/css?family=Montserrat:100, 600" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400, 600" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="angular/app.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
</head>
<body class="inicioP" ng-app="myApp">
<section id="wrapper" ng-controller="menuCtrl">

    <div id="sidebar-wrapper">
        <!-- MENU LATERAL -->
        <ul class="sidebar-nav fondis">
            <li class="sidebar-brand">
                <!-- LOGO -->
                <a class="logoIn" href=""><img src="img/logo-05.png"></a>
            </li>

            <!-- NOMBRE DEL USUARIO -->
            <li class="ot">
                <a class="nombreUsu" href="#"><div class="imgUsuario"><img src="img/img-21.png"></div>{{username}}</a>

                <div class="dropdown sinSom">
                    <button class="punto" type="button" data-toggle="dropdown">
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a class="nuevoT" href="editarCuenta.html">Editar</a>
                        </li>
                    </ul>
                </div>
            </li>

            <!-- CLANES DE LOS QUE EL USUARIO HACE PARTE -->
            <li class="list-group-item usu" ng-repeat="i in clanes">
                <div class="colorClan"><img src="img/img-21.png"></div>
                <a class="poProyCo" href=""  ng-click="cambiarClan(i.name)">{{i.name}}</a>

                <div class="dropdown sinSom">
                    <button class="punto" type="button" data-toggle="dropdown">
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a class="nuevoT" href="editarClan.html">Editar</a>
                        </li>
                        <li><a class="nuevoT" href="">Eliminar</a></li>
                    </ul>
                </div>
            </li>

            <form action="crearClan.html">
                <button class="nuevoP" type="submit"><img src="img/mas-23.png"></button>
            </form>

        </ul>
    </div> <!-- FIN DEL MENU LATERAL-->


    <!--PAGINA TODO CONTENIDO VA DENTRO DE ESTA SECCION-->
    <section id="page-content-wrapper mar">

        <!--PRIMERA BARRA BOTOS MENU Y BUSCAR-->
        <div class="container-fluid" >
            <div class="row" >
                <div class="col barra">
                    <div class="menuB">
                        <!-- BOTON PARA DESPLEGAR EL MENU-->
                        <a class="doos" href="#menu-toggle" id="menu-toggle"><img src="img/icono-10.png"></a>
                        <!--BARRA DE BUSCAR-->
                        <div class="buscar">
                            <form>
                                <input class="inpBus" type="search" value="" placeholder="buscar">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="container-fluid contedidod" >
            <div class="row">

                <!--CONTEDENOR 2 MUESTRA USUARIOS-->
                <div class="col-md-2 sidebar">
                    <div class=" sidebarP">
                        <div class="participantes" >

                            <!-- PARTICIPANTES CLAN -->
                            <h2 class="h2Idea">Participantes</h2>
                            <li class="list-group-item usu" ng-repeat="x in integrantes">

                                <div class="colorCate"><img src="img/img-21.png"></div>
                                <a class="poProyCo">{{x.id_usuario}}</a>

                                <div class="dropdown sinSom">
                                    <button class="punto" type="button" data-toggle="dropdown"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a class="nuevoT" href="">Eliminar</a></li>
                                    </ul>
                                </div>
                            </li>

                        </div>
                        <!--COMPARTIR -->

                        <button class="nuevoP" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#compartirP" ng-click="obtenerUsuarios()"><img src="img/mas-23.png"></button>

                        <!-- CONTENIDO DEL POP UP PARA aguegar usuario -->
                        <div class="modal fade" id="compartirP" role="dialog">

                            <div class="modal-dialog modal-lg">

                                <div class="modal-content fondoP">

                                    <div class="modal-header sombraP">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title tituloP">Nuevo Participante</h4>
                                    </div>

                                    <div class="modal-body">
                                        <!--ecribir nombre del proyecto -->

                                        <div class="form-group col nombrePc com flecha">
                                            <form>

                                                <div class="form-group flecha">
                                                    <label class="label" for="sel1"></label>
                                                    <select class="form-control campoP leftoP" id="sel1" ng-model="usuarioSeleccionado.singleSelect">
                                                        <option ng-repeat="a in usuarios">{{a.name}}</option>
                                                    </select>
                                                </div>

                                                <button type="submit" class="btn btColor btComp" ng-click="agregarAlClan()">Agregar</button>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <!--con data-dismiss="modal" cierra la ventana-->
                                        <button type="submit" class="btn btColor" data-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="col col-md-offset-2 main">
                    <!-- JUEGOS IDEALES -->
                    <h2 class="h2Idea">Juegos Ideales</h2>
                    <!--JUEGOS IDEALES-->
                    <section class="ideales">
                        <div class="c">
                            <div class="colk SeccionCategoria" ng-repeat="b in juegos">
                                <section class="categoriasT">
                                    <div class="colorUni"></div>
                                    <div class="imagenJue"><img src="{{b.image}}"></div>
                                    <p class="descriC">{{b.name}}</p>
                                    <p class="descriC topd">{{b.gender}}</p>
                                </section>
                            </div>

                        </div>
                    </section>
                    <!--JUEGOS COMPATIBILIDAD-->
                    <h2 class="h2Idea">Juegos con mayor compatibilidad</h2>

                    <section class="compatibilidad">
                        <div class="c">

                            <!-- JUEGOS POR COMPATIBILIDAD PARA REPEAT -->
                            <div class="colk SeccionCategoria">
                                <section class="categoriasT">
                                    <div class="colorUni"></div>
                                    <div class="imagenJue"><img src="img/wow.png"></div>
                                    <p class="descriC">Nombre del juego</p>
                                    <p class="descriC topd">Tipo de juego</p>
                                </section>
                            </div>

                        </div>
                    </section>

                </div>
        </section>

        <!--TODO CONTENIDO DEQUE QUEDAR ANTES DE ESTE SECTION-->

    </section>
</section>


<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");

    });
</script>

</body>
</html>
