<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">


        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">

        <meta name="description" content="">
        <title>Idem</title>

        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/estilos.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400, 600" rel="stylesheet">

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="angular/app.js"></script>
        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.js"></script>

    </head>
    <body class="loginB" ng-app="myApp">

        <nav class="navbar navbar-default navbar-fixed-top menu">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand logo" href="inicio.html"><img src="img/logo-05.png"></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">

                    <ul class="nav navbar-nav navbar-right">
                        <li class="iniciar coloruno"><a href="index.html">Iniciar
                            Sesión</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <section class="loginS">
            <div class="container" ng-controller="registroCtrl">
                <div class="row">
                    <div class="col-8">
                        <p class="yo"><img src="img/logo-05.png"></p>
                        <form class=" FormularioLogin">

                            <p class="pBt"><input class="campoP" type="text" name="nick" placeholder="Nickname" ng-model="nick"> <br></p>

                            <p class="pBt" ><input class="campoP" type="text" name="name" placeholder="Nombre" ng-model="name"> <br></p>

                            <p class="pBt" ><input class="campoP" type="email" name="mail" placeholder="Correo electrónico" ng-model="mail"> <br></p>

                            <p class="pBt"><input class="campoP" type="password" name="pass" placeholder= "Contraseña" ng-model="pass"></p>

                            <div class="form-group flecha">
                                <label class="label" for="sel1 ">Tipo de sistema:</label>
                                <select class="form-control campoP leftoP" id="sel1" ng-model="os.singleSelect">
                                    <option>Windows</option>
                                    <option>MAC</option>
                                </select>
                            </div>

                            <div class="form-group flecha">
                                <label class="label" for="sel1 ">Memoria RAM:</label>
                                <select class="form-control campoP leftoP" id="sel1" ng-model="os.singleSelect">
                                    <option>1024</option>
                                    <option>2048</option>
                                    <option>4096</option>
                                    <option>8192</option>
                                    <option>16384</option>
                                </select>
                            </div>

                            <p class="pBt"><input class="bRegistroL" type="submit"  value="Registrarse" ng-click="registrar()"></p>

                            <p class="pBt pLR">¿Ya tienes cuenta?&nbsp;&nbsp;<input class="bRegistroLR" type="submit" formaction="login.html" value="Iniciar Sesión"></p>
                        </form>




                    </div>
                </div>
            </div>
        </section>   

        <section class="footer">
            <div class="fondF">
            </div>
        </section>



    </body>

</html>